.card {
  min-height: 200px;
  min-width: 200px;
  padding: 1em;
  border: 1px solid gray;

  border-radius: 1em;
  flex-shrink: 0;
  background-color: white;
}

.card--active {
  transform: scale(1.1);
}

.card-title {
  margin-bottom: 1em;
}

.card__list-item {
  margin-bottom: 0.25em;

  list-style: inside;
}