.stack-type {
  width: 100%;
  margin: 0.75em 0;

  display: flex;
  flex-wrap: wrap;
}

.stack-type__title {
  margin-right: 0.5em;
  font-weight: bold;
}

.stack-type__item {
  margin-right: 0.25em;
  color: var(--color-black-3);
}
