.button {
  min-width: 2.5em;
  height: 2.5em;
  padding: 0 2.5em;

  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3em;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }
}

