.field {  
  position: relative;
}

.field__label {
  font-size: 0.7em;

  width: fit-content;
  height: 2em;
  padding: 0 0.8em;
  margin-left: 1rem;
  border: 1px solid var(--color-teal-3);

  position: absolute;
  top: -1em;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  color: var(--color-black-5);
  background-color: var(--color-teal-2);
  
  &.field__label--error{
    border-color: var(--color-red-3);
    background-color: var(--color-red-2);
  }
}

.field__input {
  width: 100%;
  height: 3em;
  padding: 0.5em 1rem;
  border: 1px solid var(--color-teal-3);
  background-color: var(--color-black-1);

  &.field__input--error {  
    border-color: var(--color-red-3);
  }
}

.field__textarea {
  width: 100%;
  min-height: 9.5em;
  padding: 0.75em 1rem;
  border: 1px solid var(--color-teal-3);

  resize: none;
  display: block;
  text-align: justify;
  background-color: var(--color-black-1);

  &.field__textarea--error {  
    border-color: var(--color-red-3);
  }
}