.form__field {  
  position: relative;
}

.form__label {
  font-size: 0.7em;

  width: fit-content;
  height: 2em;
  padding: 0 0.8em;
  margin-left: 1rem;
  border: 1px solid var(--color-teal);

  position: absolute;
  top: -1em;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--color-black);
  background-color: var(--color-teal-light);
  
  &.form__label--error{
    color: var(--color-black);
    border: 1px solid var(--color-red);
    background-color: var(--color-red-light);
  }
}

.form__input {
  width: 100%;
  height: 3em;
  padding: 0.5em 1rem;
  border: 2px solid var(--color-teal);

  border-radius: 0.25em;
  background-color: var(--color-white);

  &.form__input--error {  
    border: 2px solid var(--color-red);
  }
}

.form__textarea {
  width: 100%;
  min-height: 9.5em;
  padding: 0.75em 1rem;
  border: 2px solid var(--color-teal);

  resize: none;
  display: block;
  text-align: justify;
  background-color: var(--color-white);
  border-radius: 0.25em;

  &.form__textarea--error {  
    border: 2px solid var(--color-red);
  }
}

