.container {
  width: 80%;
  margin: auto;
  padding-bottom: 2.5em;
}

.title {
  margin-bottom: 2.5rem;
  letter-spacing: var(--letter-spacing);
  color: var(--color-blue-6);
}

.projects { 
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.projects-item {
  width: 22em;
  height: fit-content;
  min-height: 20em;
  position: relative;
  
  &:hover .face-front {
    transform: perspective(1000px) rotateY(180deg);
    box-shadow: 0 0 1px 0 var(--color-gray-3);
  }
  
  &:hover .face-back {
    transform: perspective(1000px) rotateY(360deg);
    box-shadow: 0 0 1px 0 var(--color-gray-3);
  }

  &:hover .projects-item__animation {
    display: block;
  }
}

.face {  
  width: 100%;
  height: 100%;
  
  backface-visibility: hidden; 
  transition: transform 1.5s;
  position: absolute;  
}

.face-front {  
  transform: perspective(1000px) rotateY(0deg);
}

.face-front__title {
  height: 20%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  color: var(--color-gray-1);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.25em;
  letter-spacing: var(--letter-spacing);
}

.face-front__img-container {
  width: 100%;
  height: 100%;
}

.face-front__img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.face-back {
  height: fit-content;
  min-height: 20em;
  padding: 1.5em 1em;

  z-index: 1;
  background-color: var(--color-gray-1);
  display: flex;
  flex-direction: column;
  transform: perspective(1000px) rotateY(180deg);
  gap: 1em;
  overflow: hidden;
}

.face-back__project-title {
  text-align: center;
  font-size: 1.25em;
  text-transform: capitalize;
  color: var(--color-blue-6);
  font-weight: bold;
}

.face-back__stacks {
  margin: auto 0;

  gap: 0.25em;
  display: flex;
  flex-wrap: wrap;
}

.face-back__stacks-item {
  width: calc(50% - 0.125em);
  padding: 0.5em;

  background-color: var(--color-teal-5);
  color: var(--color-gray-1);
}

.face-back__link {
  height: fit-content;
  padding-top: 1.5em;

  box-shadow: 0 -3px 3px -3px var(--color-teal-3);
  display: flex;
}

.face-back__link-page, .face-back__link-github{
  width: 50%;
  color: var(--color-blue-6);
  border-radius: 0;
  
  &:hover {
    background-color: var(--color-blue-6);
    color: var(--color-gray-1);
  }
}

.icon {
  margin-left: 0.5em;
}

.projects-item__animation {
  display: none;
}

@media screen and (width < 1024px) {
  .projects-item {
    width: 21em;
  }
}

@media screen and (width <= 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (width <= 425px) {
  .title {
    font-size: 1.5rem;
  }

  .projects-item {
    width: 100%;
  }  
}