.start {
  min-height: 85vh;
  padding-top: 20vh;
  
  display: flex;  
}

.profile-container {
  margin: auto;

  display: grid;
  gap: 2.5%;
  grid-template-columns: 27.5% 70%;
  grid-template-rows: 47.5% 50%;
  grid-template-areas: 
  "photo title"
  "text text";
}

.profile-photo {
  grid-area: photo;

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.profile-title {
  grid-area: title;

  font-size: 3em;
  line-height: 1.25em;
}

.profile-description {
  grid-area: text;

  text-align: justify;
  line-height: 1.25em;
}

@media screen and (max-width: 768px) {
  .profile-container {
    grid-template-columns: 37.5% 60%;
    grid-template-rows: 27.5% 70%;
  }

  .profile-title {
    font-size: 1.5em;
  }
}