.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

.add-btn {
  margin-bottom: 2.5em;
  background-color: var(--color-blue-6);
  color: var(--color-gray-1);
}

@media screen and (width <= 768px) {
  .container {
    width: 90%;
  }
}