.skill-input-container {
  width: 100%;
  display: flex;
}

.field-container {
  width: 100%;
}

.label {
  border-radius: 1em;
}

.input {
  border-right-style: none;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.add-btn {
  height: auto;
  border: 1px solid var(--color-blue-3);
  border-left: none;

  background-color: transparent;
  color: var(--color-blue-7);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  &:hover {
    border: 1px solid var(--color-blue-7);
    border-left: none;
    background-color: var(--color-blue-7);
    color: var(--color-black-1);
  }

  &.add-btn--error {
    border-color: var(--color-red-3);
  }
}