.stacks {
  display: flex;
  flex-wrap: wrap;
}

.stacks-item {
  width: min(33em, 50%);
  min-height: 20em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  row-gap: 1em;
  box-shadow: 0 0 1px 0 var(--color-gray-3);
  position: relative;
  overflow: hidden;

  &:hover .stacks-item__animation {
    display: block;
  }
}

.stacks-item__title {
  color: var(--color-blue-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.stacks-item__skills {
  margin: auto;
  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.stacks-item__skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  text-align: center;
  font-weight: bold;
}

.svg, .loading-svg {
  width: 3em;
  height: 3em;
}

.stacks-item__animation {
  display: none;
}

@media screen and (width < 768px) {
  .stacks-item {
    width: 100%;
  }
}

@media screen and (width <= 425px) {
  .stacks-item__title {
    font-size: 1.25rem;
  }

  .svg {
    width: 2em;
    height: 2em;
  }
}