.form {
  width: min(25em, 90%);
  margin: auto;
  padding-bottom: 1em;
}

.form-field {
  margin-bottom: 1em;
}

.form-field__label {
  border-radius: 1em; 
}

.form-field__input, .form-field__textarea {
  border-radius: 0.5em;
  border-width: 1px;
}

.form-field__btn {
  margin: auto;
  width: 100%;

  display: block;
  border-radius: 0.5em;  
  background-color: var(--color-blue-7);
  color: var(--color-black-1);

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--color-blue-6);
    opacity: 0.5;
  }
}
