.form {
  width: min(25em, 90%);
  margin: auto;
  padding: 2.5em 0;
}

.form__field {
  margin-bottom: 1em;
}

.form__field-label {
  border-radius: 1em; 
}

.form__field-input, .form__field-textarea {
  border-radius: 0.5em;
  border-width: 1px;
}

.form__submit-btn {
  width: 100%;

  border-radius: 0.5em;  
  background-color: var(--color-blue-6);
  color: var(--color-gray-1);

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
