.nav__item {
  height: 100%;
  margin-right: 1em;

  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 2.5px solid transparent;

  &:has(.nav__item-link--active), &:hover {
    border-bottom: 2.5px solid var(--color-blue-7);
    transition: 1s all;
  }
}

.nav__item-link {
  padding: 1em 0.1em 1em 0;
  color: inherit;
  letter-spacing: var(--letter-spacing);

  &.nav__item-link--active {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .nav__item {
    height: fit-content;
    margin-bottom: 1em;
    margin-right: 0;
    
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  .nav__item-link {
    display: block;
  }
}