.container {
  width: 80%;
  padding-bottom: 2.5em;
  margin: auto;
}

.title {
  margin-bottom: 2.5rem;
  
  letter-spacing: var(--letter-spacing);
  color: var(--color-blue-6);
}


@media screen and (width <= 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (width <= 425px) {
  .title {
    font-size: 1.5rem;
  }
}