.container {
  width: 100%;
  height: 15vh;
  margin-bottom: 2.5em;
}

.nav {
  width: inherit;
  height: inherit;
  padding: 0 10%;
  border-bottom: 1px solid var(--color-blue-6);
  
  position: fixed;
  z-index: var(--nav-z-index);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-blue-6);
  color: var(--color-gray-1);
}

.nav__list {
  height: 100%;
  display: flex;
  column-gap: 1em;
}

.nav__list-item {
  height: 100%;

  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;

  &:has(.link--active), &:has(.link:hover), &:has(.link-mode:hover) {
    border-color: var(--color-gray-1);
    transition: 0.25s all;
  }
}

.link {
  padding: 1em 0;
  color: inherit;
}

.nav__list-item--ma {
  margin: 0;
  margin-left: auto;
}

.hidden, .nav-mobil__title, .nav-mobil__menu-btn, .nav-mobil__close-btn {
  display: none;
}

.link-mode {
  border: 2px solid var(--color-gray-1);
  color: inherit;

  &:hover {
    background-color: var(--color-gray-1);
    color: var(--color-blue-6);
  }
}

@media screen and (max-width: 768px) {
  .nav {   
    padding: 0 5vw;

    display: flex;
    align-items: center;
    transition: height 0.75s;
  }

  .nav-mobil {
    height: 100vh;
    padding: 5vh 5vw;

    display: block;
    transition: height 0.75s;
  }

  .nav-mobil__title {
    font-size: 1.25em;
    display: block;
    
    &[hidden] {
      display: none;
    }
  }

  .nav__list {
    width: fit-content;
    height: fit-content;
    margin: auto;

    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 0.5em;

    &[hidden] {
      display: none;
    }
  }

  .link-mode {
    margin: 1em 0;
  }

  .nav-mobil__menu-btn {    
    padding: 1em 0 1em 1em;
    margin-left: auto;

    display: inline-block;
    background-color: transparent;
    color: inherit;

    &:hover {
      cursor: pointer;
    }

    &[hidden] {
      display: none;
    }
  }

  .nav-mobil__close-btn {
    padding: 0.65em 0 1em 1em;
    display: inline-block;
    position: absolute;
    right: 5vw;    
    top: 5vh;
    background-color: transparent;
    color: inherit;

    &:hover {
      cursor: pointer;
    }

    &[hidden] {
      display: none;
    }
  }  
}

@media screen and (max-width: 320px) {
  .nav-mobil__title {
    letter-spacing: 0;
  }
}