.container {
  width: 70%;
  margin: auto;
  padding-bottom: 1em;
}

.title {
  margin-bottom: 2rem;
  letter-spacing: var(--letter-spacing);
  color: var(--color-blue-7);
}

.form {
  width: min(25em, 100%);
  margin: auto;
}

.form__field {
  margin-bottom: 1em;
}

.form__field-input, .form__field-textarea {
  border-radius: 0.5em;
}

.form__field-label {
  border-radius: 1em;
}

.form__submit-btn {
  width: 100%;

  border-radius: 0.5em;
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-blue-7); 
  color: var(--color-black-1);
  font-weight: normal;
}

.wsp-btn {
  width: min(25em, 100%);
  margin: auto;
  margin-top: 1em;

  color: var(--color-black-1);
  background-color: var(--color-teal-5);
  display: flex;
  border-radius: 0.5em;
  letter-spacing: var(--letter-spacing);
  font-weight: normal;
}

.wsp-btn-icon {
  margin-left: 0.25em;
}


@media screen and (width <= 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (width <= 425px) {
  .title {
    font-size: 1.5rem;
  }
}