.container {
  padding: 10vh 15vw;
  padding-top: 0;
}

.title {
  margin-bottom: 5vh;
  letter-spacing: var(--letter-spacing);
  color: var(--color-blue-7);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 20px 20px -15px var(--color-blue-6);
  border-radius: 0.5em;
  
  &:has(.contact-form--error) {
    box-shadow: 0px 20px 20px -15px var(--color-red-3);
  }
}

.contact-box {
  width: 50%;
  display: flex;
}

.contact-box__img {
  width: 100%;
  margin-top: auto;

  object-fit: contain;
  border-radius: 0.5em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.contact-form {
  width: 40%;
  margin: auto;
  padding: 1.5em 0;

  &.contact-form--error {
    margin: auto;
  }
}

.contact-form__field {
  margin-bottom: 1em;
}

.contact-form__field-input, .contact-form__field-textarea {
  border-radius: 0.5em;
  border-color: var(--color-blue-5);
}

.contact-form__field-label {
  border-radius: 1em;
  border-color: var(--color-blue-5);
  background-color: var(--color-blue-7);
  color: var(--color-black-1);

  &.contact-form__field-label--error {
    background-color: var(--color-red-5);
  }
}

.contact-form__submit-btn {
  width: 100%;

  border-radius: 0.5em;
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-blue-7); 
  color: var(--color-black-1);

  &.contact-form__submit-btn--error {
    background-color: var(--color-red-5);
  }
}

.contact-link {
  position: fixed;
  z-index: var(--contact-wsp-z-index);
  bottom: 10%;
  right: calc(7.5% - 1.5em);

  color: var(--color-teal-3);
  background-color: transparent;

  &:active {
    transform: scale(0.95);
  }
}


@media screen and (width <= 768px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .contact-link {
    right: 5vw;
  }
}

@media screen and (width <= 425px) {
  .contact-box {
    width: 100%;
  }
  
  .contact-box__img {
    width: 90%;
    margin: auto;
    border-radius: 0;
  }

  .contact-form {
    width: 90%;
    padding: 1.5em 0;
  }
}