.container {
  width: 80%;
  margin: auto;
  padding-bottom: 2.5em;

  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  margin-bottom: 2.5rem;

  letter-spacing: var(--letter-spacing);
  color: var(--color-blue-6);
}

.form {
  width: min(25em, 100%);
  margin: auto;
}

.form__field {
  margin-bottom: 1em;
}

.form__field-input, .form__field-textarea {
  border-radius: 0.5em;
}

.form__field-label {
  border-radius: 1em;
}

.form__submit-btn {
  width: 100%;

  border-radius: 0.5em;
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-blue-6); 
  color: var(--color-gray-1);
}

.link {
  width: fit-content;
}

.link-linkedin {
  color: var(--color-blue-6);
  border: 1px solid var(--color-blue-6);

  &:hover {
    background-color: var(--color-blue-6);
    color: var(--color-gray-1);
  }
}

.link-wsp {
  color: var(--color-teal-5);
  border: 1px solid var(--color-teal-5);

  &:hover {
    background-color: var(--color-teal-5);
    color: var(--color-gray-1);
  }
}

.link-github {
  color: var(--color-black-1);
  border: 1px solid var(--color-black-1);

  &:hover {
    background-color: var(--color-black-1);
    color: var(--color-gray-1);
  }
}

.link-wsp, .link-linkedin, .link-github {
  margin-bottom: 1em;

  display: flex;
  border-radius: 0.5em;
  letter-spacing: var(--letter-spacing);
}

.link-text {
  font-size: 1.1em;
}

.link-icon {
  margin-left: 0.25em;
}

@media screen and (width <= 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (width < 768px) {
  .link {
    width: min(25em, 100%);
    margin: auto;
    margin-bottom: 2.5em;
  }

  .title {
    font-size: 1.5rem;
  }
}