.profile {
  width: 80%;
  margin: auto;
  padding: 3em 0 2.5em 0;

  text-align: center;
}

.profile-title, .profile-stack {
  font-size: 2em;
  font-weight: normal;
  color: var(--color-teal-4);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.profile-fullname {
  font-size: 2.5em;
  margin: 1rem 0;
  color: var(--color-blue-6);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.profile-description {
  margin-top: 1em;
}

.profile-links {
  margin-top: 5em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.cv-link {
  background-color: var(--color-blue-6);
  border-radius: 0.5em;
  color: var(--color-gray-1);
}

.link-contact, .link-github {
  border: 1px solid var(--color-blue-6);

  background-color: transparent;
  border-radius: 0.5em;
  color: var(--color-blue-6);

  &:hover {
    background-color: var(--color-blue-6);
    color: var(--color-gray-1);
  }
}

.cv-link-icon, .link-icon {
  margin-left: 0.5em;
}

@media screen and (width <= 768px) {
  .profile {
    width: 90%;
  }
}

@media screen and (width <= 425px) {
  .profile-title, .profile-stack {
    font-size: 1.5em;
  }

  .profile-fullname {
    font-size: 2em;
    margin: 1rem 0;
  }

  .cv-link, .link-contact, .link-github {
    width: 100%;
  }
}