.container {
  width: 70%;
  margin: auto;
  margin-bottom: 5vh;

  display: flex;
}

.form {
  width: 90%;
  padding-bottom: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  border-radius: 0.5em;
}

.form__field {
  width: 47%;
}

.form__field-input, .form__field-textarea {
  border-radius: 0.5em;
}

.form__field-label {
  border-radius: 1em;
}

.form__field-box {
  width: 100%;
}

.form-stacks {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.form-stacks__details {
  width: 47%;
  border: 1px solid var(--color-teal-3);

  border-radius: 0.5em;
  position: relative;

  &.form-stacks__details--error  {
    border-color: var(--color-red-3);

    & .details-item {
      border-color: var(--color-red-3);
    }
  }
}

.form-stacks__details-delete {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-red-5);
  background-color: transparent;

  &[hidden] {
    display: none;
  }
}

.form-stacks__details-summary {
  padding: 1em;

  &:hover {
    cursor: pointer;
  }
}

.skills {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  gap: 0.5em;
}

.skills-item {
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--color-teal-3);

  &.skills-item--active {
    background-color: var(--color-teal-2);
  }
  
  &:hover {
    cursor: pointer;
  }
}

.form-btn {
  width: 100%;

  border-radius: 0.5em;
  color: var(--color-black-1);
  background-color: var(--color-blue-7);

  &[disabled] {
    background-color: var(--color-blue-6);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.form__btn-cancel {
  width: 100%;
  border: 1px solid var(--color-blue-7);

  border-radius: 0.5em;
  background-color: var(--color-blue-7);
  color: var(--color-black-1)
}

@media screen and (width <= 425px) {
  .form__field, .form-stacks__details {
    width: 100%;
  }  
}

@media screen and (width <= 768px) {
  .container {
    width: 90%;
    flex-wrap: wrap;
  }
  
  .form {
    width: 100%;
  }
}