.projects {
  width: 80%;
  margin: auto;
  padding-bottom: 2.5em;

  overflow: auto;
}

.projects__add-button {
  margin-bottom: 2.5em;

  color: var(--color-gray-1);
  background-color: var(--color-blue-6);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-heal {
  border: 1px solid var(--color-gray-3);
  border-left: none;
  border-right: none;
}

.table-head__tr-th {
  min-width: 6.25em;
  padding: 1em 0;
  text-align: left;

  &.table-head__tr-th--text-center {
    text-align: center;
  }
}

.table-body__tr {
  border: 1px solid var(--color-gray-3);
  border-left: none;
  border-right: none;  

  &:hover {
    background-color: var(--color-blue-2);
  }
}

.table-body__tr-td, .td {
  min-width: 8em;
  height: 8em;

  position: relative;
}

.td-box-img {
  width: 8em;
  height: 8em;
}

.td-box-img__img {
  width: 8em;
  height: 8em;
  object-fit: contain;
}

.td-box {
  display: flex;
  justify-content: space-evenly;
}

.td-box__edit-button {
  padding: 0;
  border: 1px solid var(--color-blue-6);

  border-radius: 0.5em;
  color: var(--color-blue-6);

  &:hover {
    color: var(--color-gray-1);
    background-color: var(--color-blue-6);
  }
}

.td-box__delete-button {
  padding: 0;
  border: 1px solid var(--color-red-6);

  border-radius: 0.5em;
  color: var(--color-red-6);
  background-color: transparent;

  &:hover {
    color: var(--color-gray-1);
    background-color: var(--color-red-5);
  }
}

@media screen and (width <= 768px) {
  .projects {
    width: 90%;
  }
}