.projects {
  width: fit-content;
  margin: 2.5em auto;
  padding: 1em;

  overflow: auto;
  border: 1px solid var(--color-black-3);
}

.projects__add-button {
  margin-bottom: 1em;
  
  border-radius: 0.5em;
  color: var(--color-black-1);
  background-color: var(--color-blue-4);

  &:hover {
    background-color: var(--color-blue-5);
  }
  
  &:active {
    transform: scale(0.95);
    background-color: var(--color-blue-6);
  }
}

.projects-table {} 

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-heal {
  border: 1px solid var(--color-black-3);
  border-left: none;
  border-right: none;
}

.table-head__tr {}

.table-head__tr-th {
  min-width: 6.25em;
  padding: 1em;
  text-align: left;

  &.table-head__tr-th--text-center {
    text-align: center;
  }
}

.table-body {}

.table-body__tr {
  border: 1px solid var(--color-black-3);
  border-left: none;
  border-right: none;  

  &:hover {
    background-color: var(--color-black-2);
    cursor: default;
  }
}

.table-body__tr-td, .td {
  min-width: 8em;
  padding: 1em;
}

.td-img {
  width: 8em;
  height: 8em;
  object-fit: contain;
}

.td-box {
  display: flex;
}

.td-box__edit-button {
  margin: auto;
  border-radius: 0.5em;
  color: var(--color-black-1);
  background-color: var(--color-blue-4);

  &:hover {
    background-color: var(--color-blue-5);
  }

  &:active {
    transform: scale(0.95);
    background-color: var(--color-blue-6);
  }
}

.td-box__delete-button {
  margin: auto;
  border-radius: 0.5em;
  color: var(--color-black-1);
  background-color: var(--color-red-4);
  
  &:hover {
    cursor: pointer;
    background-color: var(--color-red-5);
  }

  &:active {
    transform: scale(0.95);
    background-color: var(--color-red-6);
  }
}



@media screen and (width <= 768px) {
  .projects {
    width: 90%;
  }
}