.contact-form {
  width: 300px;
  margin: auto;
}

.contact-form__submit-btn, .contact-form__link {
  font-size: 1em;

  width: 75%;
  height: 3em;
  margin: auto;
  margin-top: 2em;
  border: 1px solid gray;

  display: block;
  border-radius: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: white;
  color: black;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

.contact-form__link {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(29, 185, 84);
    border: none;
  }
}