@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {
  --color-blue: #007ACC;
  --color-blue-light: #AEDFF7;

  --color-orange: #FFA500;
  --color-orange-light: #FFD699;

  --color-white: #FFFFFF;
  --color-white-light: #E5E5E5;

  --color-black: #000000;
  --color-black-light: #CCCCCC;

  --color-red: #FF0000;
  --color-red-light: #FFB7B7;

  --color-teal: #49A69A;
  --color-teal-light: #7ECDC6;

  --letter-spacing: 0.1em;
  --nav-z-index: 10;
  --carrusel-btn-z-index: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
}

li {
  list-style: none;
}

input, textarea, summary, button {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 16.941px;
  }
}

@media screen and (min-width: 2560px) {
  body {
    font-size:  30.117px;
  }
}