@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {
  --letter-spacing: 0.1em;
  --nav-z-index: 10;
  --carrusel-btn-z-index: 1;

  --color-blue-1: #f0f8ff;
  --color-blue-2: #e0f0fe;
  --color-blue-3: #36b2fa;
  --color-blue-4: #0c98eb;
  --color-blue-5: #007acc;
  --color-blue-6: #015fa3;
  --color-blue-7: #065186;

  --color-black-1: #ffffff;
  --color-black-2: #f6f6f6;
  --color-black-3: #CCCCCC;
  --color-black-4: #888888;
  --color-black-5: #000000;

  --color-red-1: #fff0f0;
  --color-red-2: #ffdddd;
  --color-red-3: #ff5757;
  --color-red-4: #ff2323;
  --color-red-5: #ff0000;
  --color-red-6: #d70000;

  --color-teal-1: #f3faf9;
  --color-teal-2: #d6f1eb;
  --color-teal-3: #49a69a;
  --color-teal-4: #36968c;
  --color-teal-5: #297871;
  --color-teal-6: #24615c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
}

li {
  list-style: none;
}

input, textarea, summary, button {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 16.941px;
  }
}

@media screen and (min-width: 2560px) {
  body {
    font-size:  30.117px;
  }
}